---
import Navbar from '../components/Navbar';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Chocolate Station - Sayfayı bulamadık :('>
	<Navbar off={false} />

	<header class='header'>
		<div class='notfound-container'>
			<h1 style={{ marginBottom: '2rem' }}>
				Aradığın sayfayı bulamadık!
			</h1>
			<a class='btn' href='/'> Ana Sayfaya Dön</a>
		</div>
	</header>

	<Footer />
</Layout>
