---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Footer from '../components/Footer.astro';
---

<Layout title='Chocolate Station - Menü'>
	<Navbar off />

	<div class='menu-old'>
		<img src='/images/menu/1.jpg' class='menu-old-item' />
		<img src='/images/menu/2.jpg' class='menu-old-item' />
		<img src='/images/menu/3.jpg' class='menu-old-item' />
		<img src='/images/menu/4.jpg' class='menu-old-item' />
		<img src='/images/menu/5.jpg' class='menu-old-item' />
	</div>

	<Footer />
</Layout>
