---
---

<footer>
	<div class='footer-container'>
		<img src='/logo/logowhite.svg' alt='logo' class='footer-logo' />
		<div class='footer-lists'>
			<ul class='footer-ul'>
				<span class='footer-ul-title'>Navigasyon</span>
				<li>
					<a class='footer-li' href='/menu'> Menü</a>
				</li>
				{
					/* <li
					class="footer-li"
					onClick={() => history.push('/galeri')}
				>
					Galeri
				</li> */
				}
				<li>
					<a class='footer-li' href='/iletisim'> İletişim</a>
				</li>
			</ul>
			<ul class='footer-ul'>
				<span class='footer-ul-title'>Bize Ulaşın</span>
				<li>
					<a class='footer-li' href='tel:+902826503050'>
						+90 (282) 650 30 50
					</a>
				</li>
				{
					/* <li
					class="footer-li"
					onClick={() => {
						window.open(
							'mailto:bilgi@istasyoncikolata.com'
						);
					}}
				>
					bilgi@istasyoncikolata.com
				</li> */
				}
				<li>
					<a
						class='footer-li'
						target='_blank'
						href='https://www.google.com/maps/place/Chocolate+Station/@41.1551059,27.840676,15z/data=!4m5!3m4!1s0x0:0x34d7dcc075cf0d5f!8m2!3d41.1551059!4d27.840676'
					>
						Esentepe Mah. Adnan Doğu Cd. Kervancı Süit No:10
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class='copy-container'>
		<span class='copy-text'>
			&copy; ChocolateStation.
			<!-- <a
				class='clickable'
				href='https://github.com/EgeOnder'
				target='_blank'
			>
				Ege Önder
			</a> -->
			Tüm hakları saklıdır.
		</span>
		<div class='copy-social'>
			<a
				class='btn-icon'
				href='https://facebook.com/ChocolateStationCafe'
				target='_blank'
			>
				<i class='fab fa-facebook'></i>
			</a>
			<a
				class='btn-icon'
				href='https://instagram.com/chocolatestationcorlu'
				target='_blank'
			>
				<i class='fab fa-instagram'></i>
			</a>
		</div>
	</div>
</footer>
